body {
    font: 14px sans-serif;
    color: white;
    background-color: black;
}

.container {
    display: flex;
    vertical-align:top;
    width: 100%;
    height: 50%;
    padding: 10px;
    border: 0px solid black;
}

#viewContainer{
    flex: 2;
}

#tfContainer{
    flex: 1;
}

.GUI{
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin: 0em 5em;
    height: 50em;
    border: 1px solid white;
}

.GUI .container{
    margin-top: 1em;
}

.dot{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin: 1px;
}